{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="alert {{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
<h2>Customers</h2>

<div class="dashboard-nav">
        <a href="/home" class="home-link">🏠 Home</a>| <a href="/add_customers" class="home-link">Add Customer</a>
    </div>
<table class="table">
<thead><tr><th>ID</th><th>Name</th><th>Email</th><th>Phone</th><th>Premier</th><th>Actions</th></tr></thead>
<tbody>
{% for c in customers %}
<tr>
<td>{{ c.customer_id }}</td>
<td>{{ c.name }}</td>
<td>{{ c.email }}</td>
<td>{{ c.phone }}</td>
<td>{{ 'Yes' if c.premier else 'No' }}</td>
<td>
<a href="/edit_customer/{{ c.customer_id }}">Edit</a>
<a  href="/delete_customer/{{ c.customer_id }}">Delete</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}